logs/
/tmp/
/cache/
/installation/
/administrator/logs/
/media/captcha/
/media/system/
/plugins/system/debug/
/components/com_ajax/
/libraries/vendor/
/cli/
/bin/
/language/
/xmlrpc/

*.log
*.zip
*.tar
/joomla/administrator
/joomla/administrator/cache
joomla/administrator/cache/sppagebuilder/templates.json
/joomla/administrator/cache/sppagebuilder
/joomla/administrator/components
/joomla/administrator
/joomla/libraries
/joomla/media
/joomla/plugins
/joomla/tmp
/joomla/templates
/joomla/modules/mod_virtuemart_languages
/joomla/modules/mod_virtuemart_cart/language
/joomla/modules/mod_related_items
/joomla/layouts
/joomla/language
/joomla/modules
/joomla/components/com_virtuemart/views
/joomla/images
/joomla/components
/joomla/administrator
/joomla/administrator
/joomla/administrator/components/com_users
/joomla/administrator
/joomla/administrator/cache/_media_version
joomla/administrator/cache/_media_version/index.html
joomla/administrator/cache/_media_version/index.html
/joomla/administrator/cache
joomla/administrator/components/com_categories/src/Controller/CategoriesController.php
joomla/administrator/components/com_categories/src/Controller/CategoryController.php
joomla/administrator/components/com_categories/src/Controller/DisplayController.php
joomla/administrator/components/com_categories/src/Dispatcher/Dispatcher.php
joomla/administrator/components/com_categories/src/Extension/CategoriesComponent.php
joomla/administrator/components/com_categories/src/Field/CategoryeditField.php
joomla/administrator/components/com_categories/src/Field/ComponentsCategoryField.php
joomla/administrator/components/com_categories/src/Field/Modal/CategoryField.php
joomla/administrator/components/com_categories/src/Helper/CategoriesHelper.php
joomla/administrator/components/com_categories/src/Helper/CategoryAssociationHelper.php
